@import "../../../styles/colors";
@import "../../../styles/mixin";
.MenuItem {
    margin-right: 2rem;
    text-transform: capitalize;
    color: $borderColor;
    font-size: 1.25rem;
    font-weight: 400;
    @include easeInOut;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 5px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background: $borderColor;
        color: #fff;
    }
    @media screen and (max-width: 576px) {
        margin-right: 1rem;
        // font-size: 1rem;
    }
}
